body {

    font-family: cursive;
    text-align: center;
}
h1{
    color: black;
    font-size:450%;
}
h2{
    color:black;
    font-size: 300%;
}
p{
    color:white;
    font-size: 200%;
}
.title{
     color: blue;
    background-color: green;
}
.image{
  margin-bottom: 10%;
}
.titlePcto{
    color: black;
    font-size: 80px;
    text-align: center;
}
.pcto{
    color: blue;
    text-align: left;
}
.azienda{
    font-size: 50px;
}